:root {
    --square-width: 600px;
    --square-height: 600px;
    --main-color: rgba(41, 133, 254, 0.926);
    --second-color: #fecd56;
}
@media (max-width: 768px) {
    :root {
        --square-width: 350px;
        --square-height: 350px;
    }
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
header {
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
    background-color: #f0f0f0;
    z-index: 2;
}
header h1 {
    color: var(--main-color);
    font-size: 7rem;
    margin: 0;
    padding: 15px 0;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 4rem;
    }
}
header h1 > span {
    color: var(--second-color);
}
.square {
    /* border: 1px solid black; */
    height: var(--square-height);
    width: var(--square-width);
    margin: 80px auto;
    display: flex;
}
.square > div {
    width: calc(var(--square-width) / 3);
}
.square > div:not(:last-of-type) {
    border-right: 1px solid black;
}
.square > div > div {
    height: calc(var(--square-width) / 3);
}
.square > div > div:not(:last-of-type) {
    border-bottom: 1px solid black;
}
/* winner popup */
.show-winner {
    width: 600px;
    height: 600px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    .show-winner {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}
.show-winner .text {
    /* border: 1px solid red; */
    min-width: 400px;
    height: 300px;
    text-align: center;
}
.show-winner .text h1 {
    font-size: 65px;
    color: green;
}
.show-winner .text h2 {
    font-size: 50px;
}
.show-winner .win-counter {
    position: relative;
    top: -50px;
}
.show-winner .win-counter p {
    font-size: 30px;
    color: rgb(0, 122, 222);
}
.show-winner button {
    /* position: relative;
    bottom: 80px; */
    background-color: var(--main-color);
    color: white;
    font-size: 25px;
    cursor: pointer;
    border: 0;
    padding: 8px 15px;
    border-radius: 12px;
    /* border: 1px solid red; */
}
/* No winner popup */
.show-no-winner {
    width: 600px;
    height: 600px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    .show-no-winner {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}
.show-no-winner .text {
    /* border: 1px solid red; */
    min-width: 400px;
    height: 300px;
    text-align: center;
}
.show-no-winner .text h1 {
    font-size: 65px;
    color: red;
}
.show-no-winner .win-counter {
    position: relative;
    top: -50px;
}
.show-no-winner .win-counter p {
    font-size: 30px;
    color: rgb(0, 122, 222);
}
.show-no-winner button {
    /* position: relative;
    bottom: 80px; */
    background-color: var(--main-color);
    color: white;
    font-size: 25px;
    cursor: pointer;
    border: 0;
    padding: 8px 15px;
    border-radius: 12px;
    /* border: 1px solid red; */
}
footer {
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    width: 100vw;
    text-align: center;
    color: white;
}
footer p > span {
    font-weight: bold;
    font-size: 1.2rem;
}
@media (max-width: 768px) {
    footer p {
        font-size: 0.7rem;
    }
    footer p > span {
        font-weight: bold;
        font-size: 0.8rem;
    }
}