:root {
    --square-width: 600px;
    --square-height: 600px;
}
@media (max-width: 768px) {
    :root {
        --square-width: 350px;
        --square-height: 350px;
    }
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    /* border: 1px solid black; */
    height: var(--square-height);
    width: var(--square-width);
    margin: 80px auto;
    display: flex;
}
.square > div {
    width: calc(var(--square-width) / 3);
}
.square > div:not(:last-of-type) {
    border-right: 1px solid black;
}
.square > div > div {
    height: calc(var(--square-width) / 3);
}
.square > div > div:not(:last-of-type) {
    border-bottom: 1px solid black;
}
body {
    margin: 0;
    padding: 0;
}
/* winner popup */
.show-winner {
    width: 600px;
    height: 600px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    .show-winner {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}
.show-winner .text {
    /* border: 1px solid red; */
    min-width: 400px;
    height: 300px;
    text-align: center;
}
.show-winner .text h1 {
    font-size: 60px;
    color: green;
}
.show-winner .text h2 {
    font-size: 40px;
}
.show-winner button {
    position: relative;
    bottom: 80px;
    background-color: green;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border: 0;
    padding: 8px 15px;
    border-radius: 12px;
    /* border: 1px solid red; */
}
/* No winner popup */
.show-no-winner {
    width: 600px;
    height: 600px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    .show-no-winner {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}
.show-no-winner .text {
    /* border: 1px solid red; */
    min-width: 400px;
    height: 300px;
    text-align: center;
}
.show-no-winner .text h1 {
    font-size: 60px;
    color: red;
}
.show-no-winner button {
    position: relative;
    bottom: 80px;
    background-color: green;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border: 0;
    padding: 8px 15px;
    border-radius: 12px;
    /* border: 1px solid red; */
}