:root {
    --square-width: 500px;
    --square-height: 500px;
    --medium-square-width: calc(var(--square-width) - 100px);
    --medium-square-height: calc(var(--square-height) - 100px);
    --small-square-width: calc(var(--square-width) - 150px);
    --small-square-height: calc(var(--square-height) - 150px);
    --main-color: rgba(41, 133, 254, 0.926);
    --second-color: #fecd56;
    --winner-color: #1abc9c;
    --no-winner-color: #e74c3c;
    --popup-bg-color: #f5f5f5;
    --large-bar-height: 20px;
    --medium-bar-height: 15px;
    --small-bar-height: 10px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
header {
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
    background-color: #f0f0f0;
    z-index: 2;
}
header h1 {
    color: var(--main-color);
    font-size: 4.5rem;
    margin: 0;
    padding: 10px 0;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 4rem;
    }
}
header h1 > span {
    color: var(--second-color);
}
/* Start Current Player */
.player {
    position: absolute;
    left: 0;
    margin-left: 40px;
}
.player p {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
}
.player p > span {
    font-size: 3.5rem;
}
@media (min-width: 768px) and (max-width: 1370px) {
    .player {
        position: absolute;
        top: 70px;
        left: initial;
        margin-left: initial;
    }
    .player p {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .player p > span {
        font-size: 3rem;
    }
}
@media (max-width: 767.98px) {
    .player {
        position: absolute;
        top: 100px;
        left: initial;
        margin-left: initial;
    }
    .player p {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .player p > span {
        font-size: 2.5rem;
    }
}
/* End Current Player */
/* Start Board */
.square {
    height: var(--square-height);
    width: var(--square-width);
    margin: 80px auto;
    display: flex;
    position: relative;
}
.square > div {
    width: calc(var(--square-width) / 3);
}
.square > div:not(:last-of-type) {
    border-right: 1px solid black;
}
.square > div > div {
    height: calc(var(--square-width) / 3);
}
.square > div > div:not(:last-of-type) {
    border-bottom: 1px solid black;
}
@media (min-width: 768px) and (max-width: 1370px) {
    .square {
        height: var(--medium-square-height);
        width: var(--medium-square-width);
    }
    .square > div {
        width: calc(var(--medium-square-width) / 3);
    }
    .square > div > div {
        height: calc(var(--medium-square-height) / 3);
    }
}
@media (max-width: 768px) {
    .square {
        height: var(--small-square-height);
        width: var(--small-square-width);
    }
    .square > div {
        width: calc(var(--small-square-width) / 3);
    }
    .square > div > div {
        height: calc(var(--small-square-height) / 3);
    }
}
.square .win-bar {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: var(--large-bar-height);
    background-color: rgb(2, 161, 2);
    border-radius: 15px;
}
#p-0-1-2 {
    top: 48%;
    left: -34%;
    transform: rotate(90deg);
}
#p-3-4-5 {
    top: 48%;
    left: 0;
    transform: rotate(90deg);
}
#p-6-7-8 {
    top: 48%;
    left: 34%;
    transform: rotate(90deg);
}
#p-0-3-6 {
    top: 15%;
}
#p-1-4-7 {
    top: 48%;
}
#p-2-5-8 {
    top: 81%;
}
#p-0-4-8 {
    transform: rotate(46deg);
    top: 48%;
    width: 126%;
    left: -13%;
}
#p-2-4-6 {
    transform: rotate(-46deg);
    top: 48%;
    width: 126%;
    left: -13%;
}

/* End Board */
/* Start winner popup */
.show-winner {
    width: var(--square-width);
    height: var(--square-height);
    border-radius: 15px;
    background-color: var(--popup-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    .show-winner {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        justify-content: center;
    }
}
.show-winner .text {
    /* border: 1px solid red; */
    min-width: 400px;
    height: 300px;
    text-align: center;
}
.show-winner .text h1 {
    font-size: 65px;
    color: var(--winner-color);
}
@media (max-width: 768px) {
    .show-winner .text h1 {
        font-size: 57px;
    }
}
.show-winner .text h2 {
    font-size: 55px;
    color: #ffc02b;
    position: relative;
    bottom: 8px;
}
@media (max-width: 768px) {
    .show-winner .text h2 {
        position: relative;
        bottom: 20px;
    }
}
.show-winner .win-counter {
    position: relative;
    top: -50px;
    width: 56%;
}
@media (max-width: 768px) {
    .show-winner .win-counter {
        width: 80%;
    }
}
.show-winner .win-counter p:first-of-type {
    font-size: 35px;
    margin: 0 0;
}
.show-winner .win-counter p:not(:first-of-type) {
    font-size: 30px;
    color: #2c3e50;
    margin: 15px 0 0 0;
}
.show-winner button {
    position: relative;
    bottom: 32px;
    background-color: var(--main-color);
    color: white;
    font-size: 29px;
    cursor: pointer;
    border: 0;
    padding: 15px 20px;
    border-radius: 12px;
}
@media (max-width: 768px) {
    .show-winner button {
        position: relative;
        bottom: 0px;
        padding: 20px 23px;
    }
}
/* End winner popup */
/* Start No winner popup */
.show-no-winner {
    width: var(--square-width);
    height: var(--square-height);
    background-color: var(--popup-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .show-no-winner {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}
.show-no-winner .text {
    /* border: 1px solid red; */
    min-width: 400px;
    height: 300px;
    text-align: center;
}
.show-no-winner .text h1 {
    font-size: 65px;
    color: var(--no-winner-color);
}
@media (max-width: 768px) {
    .show-no-winner .text h1 {
        font-size: 57px;
    }
}
.show-no-winner .win-counter {
    position: relative;
    top: -50px;
    width: 56%;
}
@media (max-width: 768px) {
    .show-no-winner .win-counter {
        width: 76%;
    }
}
.show-no-winner .win-counter p:first-of-type {
    font-size: 35px;
    margin: 0 0;
}
.show-no-winner .win-counter p:not(:first-of-type) {
    font-size: 30px;
    color: #2c3e50;
    margin: 15px 0 0 0;
}
.show-no-winner button {
    position: relative;
    bottom: 32px;
    background-color: var(--main-color);
    color: white;
    font-size: 29px;
    cursor: pointer;
    border: 0;
    padding: 15px 20px;
    border-radius: 12px;
}
@media (max-width: 768px) {
    .show-no-winner button {
        position: relative;
        bottom: 0px;
        padding: 20px 23px;
    }
}
/* End No winner popup */
/* Start Footer */
footer {
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    width: 100vw;
    text-align: center;
    color: white;
}
footer p > span {
    font-weight: bold;
    font-size: 1.2rem;
}
@media (max-width: 768px) {
    footer p {
        font-size: 0.7rem;
    }
    footer p > span {
        font-weight: bold;
        font-size: 0.8rem;
    }
}
/* End Footer */
